#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#waiting {
  display: none;
  position: absolute;
  margin-top: 300px;
}

.legend1 {
  background-color: #163d4e;
  height: 25px;
  display: inline;
}

.legend2 {
  background-color: #54792f;
  height: 25px;
  display: inline;
}

.legend3 {
  background-color: #d07e93;
  height: 25px;
  display: inline;
}

.legend4 {
  background-color: #c1caf3;
  height: 25px;
  display: inline;
}

.legend5 {
  background-color: #ffffff;
  height: 25px;
  display: inline;
}